#Titulo {	
	background-color: #007bff ;
	margin: 0px;
	border-radius: 2px;
	margin-bottom: 10px;
}

.contorno-boton {
    border: 1px solid black !important;
}


.sin-padding {
	padding: 0 !important;
}


@media (min-width: 992px) 
{
    .collapse.dont-collapse-lg{
        display: block !important;
      }
      .navbar-text{
          text-align: center;
      }
   

}