
#publicar
{
	margin-top: 5px;
	
	border-radius: 5px;
}

#fotos
{

	margin-top: 5px;
	
}
#Video{
	
	margin-top: 5px;

}

#publicidad
	{
margin-top: 5px;
	}

.sinborde {

	padding: 0 !important;
	margin: 0 !important;
}

.accordion {
	margin-top: 5px;

}